<html lang="en">
    <%- include("../shared/header.ejs") %>
    <body>
        <%- include("../shared/navigation.ejs") %>
        <div class="content">
            <h2>Home</h2>
            <hr />
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quia quibusdam quaerat illo a modi tenetur ut blanditiis,
                illum quo consectetur recusandae excepturi natus impedit rem, tempora cum fuga quae in.
            </p>
        </div>
        <%- include("../shared/footer.ejs") %>
    </body>
</html>