<div class="content">
    <h2>Info</h2>
    <hr />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Donec maximus scelerisque neque sed aliquam. Cras rutrum, leo ac viverra imperdiet, eros urna tincidunt libero,
        in dignissim leo turpis sed dolor. Curabitur tristique venenatis justo, non efficitur odio imperdiet sit amet.
        Vivamus pellentesque dolor nec bibendum interdum. Pellentesque eu venenatis justo. Sed euismod urna ut pharetra
        volutpat. Proin vehicula, metus placerat semper vestibulum, libero mauris sodales augue, eget ultrices
        turpis massa vel dolor. Fusce fringilla velit vel tortor vehicula varius. Nunc enim dolor, consectetur sed
        gravida quis, facilisis non nisl.
    </p>
</div>