<html lang="en">
    <%- include("./shared/header.ejs") %>
    <body>
        <%- include("./shared/navigation.ejs") %>
        <div class="content">
            OOPS, page not found :)
        </div>
        <%- include("./shared/footer.ejs") %>
    </body>
</html>