<html lang="en">
    <%- include("../shared/header.ejs") %>
    <body>
        <%- include("../shared/navigation.ejs") %>
        <div class="container mt-4">
            <%- body %>
        </div>
        <%- include("../shared/footer.ejs") %>
        <script src="/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>