<html lang="en">
    <%- include("../shared/header.ejs") %>
    <body>
        <%- include("../shared/navigation.ejs") %>
        <div class="container mt-4">
            <%- body %>
        </div>
        <%- include("../shared/footer.ejs") %>
    </body>
</html>